<h1>hello world</h1>
{{#if identified}}
    <h2>  identificado como: {{username}} id: {{userid}} </h2>
{{ else}}
    <h2> anonimo </h2>
{{/if}}
{{#if logouterror}}
    <h2> {{errorMsg}} </h2>
{{/if}}

<form action="home" method="POST">
    <input type="hidden" name="id" value="{{userid}}">
    <input type="hidden" name="rol" value="{{rol}}">
    <input type="submit" value="Events">    
</form>
<br></br>
{{#if audit}}
    <table>
         <tr>
             <th>ID</th>
             <th>Date Time</th>
             <th>Event</th>
         </tr>

    {{#each events}}
        <tr>
            <th>{{this.id}}</th>
            <th>{{this.datetime}}</th>
            <th>{{this.event}}</th>
        </tr>
    {{/each}}

    </table>
{{/if}}
<br></br>
<form action="logout" method="POST">
    <input type="hidden" name="username" value="{{username}}">
    <input type="hidden" name="password" value="{{password}}">
    <input type="hidden" name="id" value="{{userid}}">
    <input type="submit" value="logout">
</form>